body {
  margin: 0;
  font-family: "OpenSans", sans-serif;
}

ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.content {
  column-count: 3;
}

.content__cards {
  margin-bottom: 1rem;
}

.content__cards img {
  display: inline-block;
  width: 100%;
}

.toolbar {
  display: flex;
  column-gap: 5px;
  margin: 30px 0 30px;
}

.toolbar__item {
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
}

.toolbar__item:hover {
  color: #ffffff;
  background-color: #3c3c3c;
}

.toolbar__item:active {
  transform: scale(0.9);
}
